.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; 
  position: absolute;
  top: auto;
  width: 100vw;
  margin-top: 120px;
}

.image-container {
  position: absolute;
}

.image1 {
  width: 42vw; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
  position: relative;
  z-index: 3; 
  border-radius: 10px;
}

.image2, .image3, .image4 , .image5 {
  height: auto; 
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  border-radius: 10px;
}

.image2 {
  width: 22vw; 
  height: auto;
  left: -30%; 
  z-index: 2; 
}
.image4 {
  width: 22vw; 
  right: -30%;
  z-index: 2; 
  height: auto;
}

.image3 {
  width: 13.75vw; 
  left: -50%; 
  z-index: 1; 
  height: auto;
}


.image5 {
  width: 13.75vw; 
  right: -50%; 
  z-index: 1; 
  height: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  width:auto;
}
.button-item {
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  size: 1vw;
}